.productDisplaySlider {
  flex: 3;
  position: relative;
  overflow: hidden;

  .productDisplaySlider_swiper {
    width: 70%;

    --swiper-navigation-size: 25px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: $black;

    .productDisplaySlider_imgWrapper {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 70vh;
      > img {
        object-fit: cover;
      }
    }
  }

  .productDisplaySlider_pagination {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 9;

    .active {
      opacity: 0.4;
    }
  }
}
