.button_container {
  width: 100%;
  padding: 15px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;

  &:hover {
    background-color: var(--black-light);
  }
}
