.loadmore_container {
  .loadmore_container_wrapper {
    max-width: 1250px;
    margin: 0px auto;
    padding: 15px 0px;
    border-bottom: 1px solid var(--text-color-gray);
    border-top: 1px solid var(--text-color-gray);
    text-align: center;
    color: var(--black);
  }
}
