.container {
  margin: 1rem 0rem;
}
.field {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 1rem;
}

.field label {
  width: 12rem;
  text-transform: capitalize;
}

.inputColor {
  width: 100%;
}
