* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  opacity: 0.5;
  z-index: 999;
}

.input {
  @include input;
}

.btn {
  @include button;

  &:hover {
    opacity: 0.8;
  }
}
.btnw {
  @include button($white, $black);
  border: 1px solid $black;
}

//STICKY NAVBAR
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
// SCROLLBAR
html {
  @include scrollbar;
}

input[type="text"] {
  @include input;
}

select {
  @include input;
}
