@mixin max-width {
  max-width: 1250px;
  margin: 0px auto;
}

@mixin card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin darkCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@mixin heading {
  font-weight: 500;
}

//Buttons
@mixin button($backgroundColor: $black-light, $color: $white, $padding: 15px) {
  padding: $padding;
  width: 100%;
  text-align: center;
  color: $color;
  background-color: $backgroundColor;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
}

@mixin input {
  width: 100%;
  padding: 10px 5px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  border: 1px solid $border;

  &:focus {
    border: 1px solid $text-color-black;
  }

  &::after {
    color: red;
  }
}

//Scrollbar
@mixin scrollbar {
  // &::-webkit-scrollbar {
  //   width: 15px;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: transparent;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: #4e4e4e;
  //   border-radius: 25px;
  // }
}

// MEDIA QUERIES

@mixin lg {
  @media (max-width: map-get($breakpoints,"lg")) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints,"md")) {
    @content;
  }
}
