@mixin max-width {
  max-width: 1250px;
  margin: 0px auto;
}

//Buttons
@mixin button($backgroundColor: $black-light, $color: $white, $padding: 15px) {
  padding: $padding;
  width: 100%;
  text-align: center;
  color: $color;
  background-color: $backgroundColor;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
}

@mixin input {
  width: 100%;
  padding: 10px 5px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  border: 1px solid $text-color-gray;
}

//Scrollbar
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
  }
}

// MEDIA QUERIES

@mixin lg {
  @media (max-width: map-get($breakpoints,"lg")) {
    @content;
  }
}
