$primary-color: rgb(219, 153, 20);
$error: rgb(219, 153, 20);

$white: #fff;
$text-color-black: rgb(104, 104, 104);
$text-color-gray: rgb(160, 160, 160);
$light-gray: rgb(231, 231, 231);
$black: rgb(28, 28, 28);
$black-light: rgb(51, 51, 51);
$light-black: rgb(51, 51, 51);
$lighter-black: rgb(61, 61, 61);
$bg-color: rgb(238, 238, 238);
$bg-color-light: #fafafa;
$border: #dadada;

//TOAST COLOR
$success: rgb(33, 166, 121);
$info: rgb(0, 122, 193);
$warning: rgb(239, 147, 0);
$error: rgb(237, 78, 44);

//

$breakpoints: (
  "xs": 0,
  "sm": "400px",
  "md": "720px",
  "lg": "960px",
  "xl": "1250px",
);

//padding
$xs: 10px;
$s: 15px;
$ls: 30px;
$xl: 50px;
