.auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: $white;
  padding: 40px;

  .auth-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    font-size: 25px;
    font-weight: normal;
  }

  > .name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  > .name,
  > .email,
  > .password,
  > .btn,
  > .btnw {
    margin-top: 1rem;
  }

  .auth-or {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 1rem;
    .auth-l {
      flex: 1;
      display: inline-block;
      border: 1px solid $light-gray;
    }
  }

  .auth-head {
    font-weight: 300;
    text-align: center;
  }
}
