.badge_container {
  position: relative;
  color: $text-color-black;

  .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: $primary-color;
    color: inherit;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
  }

  &:hover {
    color: $black;
  }
}
