.menu {
  position: relative;
  > .head {
    padding: 20px 0px;
    padding-right: 20px;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      color: $black;
    }
  }

  > .subMenu {
    position: absolute;
    left: -20px;
    background-color: $black;
    padding: 20px;
    font-size: 14px;
    z-index: 99;

    > .item {
      display: inline-block;
      padding: 5px 10px;
      width: max-content;
      color: $text-color-gray;
      cursor: pointer;
      &:hover {
        color: $white;
      }
    }
  }
}
