.footer_container {
  background-color: $black;
  width: 100%;
  padding: 40px 0px;
  font-size: 14px;
  color: $text-color-gray;
  @include lg {
    padding: 15px;
  }

  .footer_container_wrapper {
    @include max-width;
    display: flex;
    justify-content: space-between;
    @include lg {
      flex-direction: column;
    }

    .footerList {
      display: flex;
      @include lg {
        flex-direction: column;
      }
    }

    .footerList li {
      list-style-type: none;
      cursor: pointer;
      @include lg {
        padding: 10px;
        border-bottom: 1px solid $black-light;
      }
    }

    .links a {
      text-decoration: none;
      color: inherit;
      margin-right: 10px;
    }

    .links a:hover {
      color: $white;
    }

    .icons {
      @include lg {
        display: flex;
        flex-direction: row;
      }
      li {
        font-size: 18px;
        color: $white;
        margin-left: $s;
        @include lg {
          border: none;
          margin-left: 0;
        }

        &:hover {
          color: $text-color-gray;
        }
      }
    }
  }
}
