.nav_container {
  border-bottom: 1px solid $light-gray;
  background-color: $white;
  /* Sticky navbar styles */
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0px;

  @include lg {
    padding: $s;
    height: 50px;
  }

  .nav_container_wrapper {
    @include max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: $text-color-black;

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      color: $black;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 5px;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .mobile-menu {
      font-size: 20px;
    }

    .nav_list-mobile {
      position: absolute;
      top: 35px;
      left: -$s;
      z-index: 9;
      // padding: 15px 0px;
      width: 100vw;
      height: calc(100vh - 100% - 30px);
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .nav_list-desktop li,
    .nav_icons li {
      cursor: pointer;
    }

    .nav_icons li {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .nav_icons,
    .nav_list-desktop {
      li:hover {
        color: $black;
      }
    }

    .nav_list-desktop,
    .nav_icons {
      display: flex;
    }

    .nav_icons {
      display: flex;
      align-items: center;
      > li {
        margin-left: 20px;
      }
      .nav_cart {
        padding-right: 10px;
      }
    }
  }
}
