.pagination {
  @include max-width;
  .paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
  }

  .pageNum,
  .icon {
    margin: 0px 5px;
    cursor: pointer;
  }

  .pageNum {
    display: inline-block;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    color: $white;
    background-color: $primary-color;
  }

  .disable {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
