.products_container {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > .total_count_product {
    width: 100%;
    @include max-width;
    color: $text-color-black;
    text-decoration: solid;
    font-style: italic;
    font-size: 14px;
    @include lg {
      padding: 0px $s;
    }
  }
  > .products_wrapper {
    max-width: 1250px;
    margin: 30px auto;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: $s 0px;

    @include lg {
      padding: 0px $s;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include md {
      grid-template-columns: 1fr 1fr;
    }
  }
}
