.products_container {
  .products_container_wrapper {
    .products_wrapper {
      max-width: 1250px;
      margin: 0px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }
}
