.rating {
  color: $primary-color;
  height: 30px;
  display: flex;
  margin: 20px 0px;
  align-items: center;

  @include lg {
    margin: 10px 0px;
  }

  .icon {
    margin-right: 8px;
    font-size: inherit;
    // margin: 10px 0px;
  }
}
