.sideCartItem {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 15px 0px;
  > img {
    width: 55px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
  }

  .item_data {
    margin-right: auto;
    > .name {
      > span {
        background-color: $black;
        color: $white;
        padding: 0px 15px;
        border-radius: 15px;
        font-size: 14px;
        margin-left: 5px;
      }
    }
    .quantity {
      .qty_tag {
        margin-right: 10px;
      }
    }
  }

  .data_close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .closeIcon {
      text-align: end;
      margin: $s 0;
    }
  }
}
