.slider {
  max-width: 100%;
  margin: 0px auto;
  position: relative;

  .swiper-slide {
    display: flex;
    position: relative;
    @include md {
      flex-direction: column;
    }

    .slider_text {
      position: absolute;
      padding: 4%;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      max-width: 31%;
      opacity: 0;
      transition: opacity 2.5s ease;
      @include md {
        position: unset;
        padding: unset;
        transform: unset;
        max-width: 100%;
        z-index: 99;
        padding: $s;
      }
      .text_head {
        font-size: 24px;
        line-height: 1.5;

        @include md {
          font-size: 18px;
        }
      }

      .text_desc {
        margin-top: 10px;
        @include md {
          margin-top: 0px;
        }
        a {
          color: $text-color-gray;
          line-height: 1.4;
          font-size: 20px;
          text-decoration: none;
          border-bottom: 1px solid $text-color-gray;

          @include md {
            font-size: 16px;
          }
        }
      }
    }
    > .first {
      color: $white;

      @include md {
        color: $black;
      }
    }
  }

  .slider_text.fade-in {
    opacity: 1;
  }

  .slider_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .swiper-pagination {
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    @include md {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $text-color-gray;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid $primary-color;
  }
}
