.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  opacity: 0.7;
  z-index: 99;
}

.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background-color: $white;
  @include card;
}

.mobileNavOverlay {
  top: 50px;
  left: 0;
  transform: unset;
  max-width: 100%;
}
