* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(219, 153, 20);
  --white: #fff;
  --text-color-black: rgb(104, 104, 104);
  --text-color-gray: rgb(160, 160, 160);
  --black: rgb(40, 40, 40);
  --black-light: rgb(51, 51, 51);
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--primary-color-white);
  position: relative;
}

.btng {
  width: 100%;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
